* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: bottom;/* 背景画像を下に配置 */
  /* 写真の上側が映っていて、下側を見せたいから */
}

.headline {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}
/* ３つ 同じもの, margin だけ３つ*/
.service1 {
  margin-bottom: 30px;/* 要素の外側、下に30px　２つ目のアイコンに近い方の数字 */
  border-bottom: 1px solid #d1d1d1;/* 要素の下に線 */
  padding-bottom: 30px;  /* 内側、下に30px　webサイトに近い方*/
}

.service2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.service3 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}
/* margin外側の余白いらない */
.service4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}